.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  &__information {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 25rem;
    height: 20rem;
    font-size: 1.5rem;
    margin: 0.2rem 0.5rem;
    border-width: 0.1rem;
    border-color: brown;
    border-style: double;
    & * {
      margin: 0.4rem 0.3rem;
      color: white;
    }
  }

  &__embed{
    width: 40rem;
    &__map{
      width: inherit;
    }
  }
}
