.nav {
  color: red;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 7fr;
  height: 25rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  // background-position: ;
  &__logo{
    display: grid;
    place-items: center;
    &__icon{
      width: 10rem;
      background-color: rgba($color: #000000, $alpha: 0.1);
      border-radius: 1rem;
      box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.3);
      transition: 0.7s;
      &:hover{
        cursor: pointer;
        width: 8rem;
      }
    }
  }
  &__tab{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    & *{
      width: 7rem;
      height: 2rem;
      margin: 2rem 3rem;
      border-radius: 2rem;
      border-style: none;
      box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.3);
      transition: 0.5s;
      &:hover{
        background-color: rgba(161, 163, 36, 0.801);
        box-shadow: none;
        font-size: 1.3rem;
        cursor: pointer;
      }
      &:focus{
        height: 2.2rem;
        font-size: 1.1rem;
        background-color: rgba(161, 163, 36, 0.801);
      }
    }

  }
}
