.nav {
  color: red;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 7fr;
  height: 50vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  // background-position: ;
 
}
